In [1]:
import sys

In [2]:
sys.path.append('../')

In [3]:
from traffic_model.simulation.model import *
from mesa.batchrunner import BatchRunner

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3338: DtypeWarning: Columns (1,2,3,4,5,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,36,37,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [ ]:
max_steps = 72000
start_steps = [252000, 468000, 576000]
dfs = []
index = 0
make_df = {
    'light_12': [],
    'start_steps': [],
    'avg_car_steps': [],
    'finished_car_wait': []
}
for start_step in start_steps:
    for light_timing in range(0, 21, 10):
        model = Traffic(light_12=light_timing,
                        width=750,
                        height=750,
                        max_steps=max_steps,
                        start=start_step)
        for i in range(max_steps):
            model.step()
        index+=1
        print(index)
        make_df['start_steps'].append(start_step)
        make_df['avg_car_steps'].append(model.finished_car_steps_int)
        make_df['finished_car_wait'].append(model.finished_car_wait_int)
        make_df['light_12'].append(light_timing)

1
2
3
4
5
6

In [ ]:
make_df

In [ ]:
df = pd.DataFrame.from_dict(make_df)

In [ ]:
df

In [ ]:
df.to_csv('export.csv')

In [1]:
fixed_params = {
    'width': 750,
    'height': 750
}

In [12]:
variable_params = {
    'light_11': (0, 10, 20),
    'start': (252000, 468000, 576000)
}

In [13]:
batch_run = BatchRunner(Traffic,
                        variable_params,
                        fixed_params,
                        iterations=1,
                        max_steps=1000, # 2 hours
                        model_reporters={'avg_car_steps': 'finished_car_steps_int', 'avg_car_wait': 'finished_car_wait'})

NameError: name 'finished_car_steps_int' is not defined

In [14]:
batch_run.run_all()

0it [00:00, ?it/s]

TypeError: 'str' object is not callable

In [11]:
run_data = batch_run.get_model_vars_dataframe()

KeyError: "None of [Index(['all_lights', 'start', 'Run'], dtype='object')] are in the [columns]"

In [10]:
run_data

   start  all_lights  Run  avg_car_steps  avg_car_wait  width  height
0      0      252000    0     295.833333     42.000000    750     750
1      0      468000    1     346.461538     33.923077    750     750
2      0      576000    2     329.842105     29.473684    750     750
3     10      252000    3     295.833333     42.000000    750     750
4     10      468000    4     346.461538     33.923077    750     750
5     10      576000    5     329.842105     29.473684    750     750
6     20      252000    6     295.833333     42.000000    750     750
7     20      468000    7     346.461538     33.923077    750     750
8     20      576000    8     329.842105     29.473684    750     750

In [24]:
pd.DataFrame.from_dict(make_df)

,start_steps,light_11,light_12,light_01,light_03,light_41,light_04,light_05
0,252000,0,0,0,0,0,0,0
1,252000,10,10,10,10,0,10,10
2,252000,20,20,20,20,0,20,20
3,468000,0,0,0,0,0,0,0
4,468000,10,10,10,10,0,10,10
5,468000,20,20,20,20,0,20,20
6,576000,0,0,0,0,0,0,0
7,576000,10,10,10,10,0,10,10
8,576000,20,20,20,20,0,20,20

In [21]:
df

,avg_car_steps,avg_car_wait,light_11,light_12,light_01,light_03,light_04,light_05,light_41
0,949.899952,38.456594,0,0,0,0,0,0,0
1,949.899952,38.456594,10,10,10,10,10,10,0
2,949.899952,38.456594,20,20,20,20,20,20,0
3,949.899952,38.456594,0,0,0,0,0,0,0
4,949.899952,38.456594,10,10,10,10,10,10,0
5,949.899952,38.456594,20,20,20,20,20,20,0
6,949.899952,38.456594,0,0,0,0,0,0,0
7,949.899952,38.456594,10,10,10,10,10,10,0
8,949.899952,38.456594,20,20,20,20,20,20,0

In [5]:
df = pd.concat(dfs).reset_index().drop(columns=['index'])

In [6]:
df.to_csv('export.csv')

In [15]:
df.iloc[72000]

avg_car_steps    448.286352
avg_car_wait      39.470807
light_11          10.000000
light_12          10.000000
light_01          10.000000
light_03          10.000000
light_04          10.000000
light_05          10.000000
light_41           0.000000
Name: 72000, dtype: float64

In [16]:
df

,avg_car_steps,avg_car_wait,light_11,light_12,light_01,light_03,light_04,light_05,light_41
0,0.000000,0.000000,0,0,0,0,0,0,0
1,0.000000,0.000000,0,0,0,0,0,0,0
2,0.000000,0.000000,0,0,0,0,0,0,0
3,0.000000,0.000000,0,0,0,0,0,0,0
4,0.000000,0.000000,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
647995,949.899952,38.456594,20,20,20,20,20,20,0
647996,949.899952,38.456594,20,20,20,20,20,20,0
647997,949.899952,38.456594,20,20,20,20,20,20,0
647998,949.899952,38.456594,20,20,20,20,20,20,0
647999,949.899952,38.456594,20,20,20,20,20,20,0